body {
    margin: 40px;
}

#board {
    display: inline-grid;
    grid-gap: 5px;
    background-color: #fff;
    color: #444;
}

.square {
    background-color: lightblue;
    color: darkblue;
    border-color: darkblue;
    border-radius: 5px;
    width: 30px;
    height:30px;
    font-size: 150%;
}

.food {
    background-color: yellow;
    border-radius: 15px;
    width: 30px;
    height:30px;
}

[data-dist=d1] {background-color: #ff0000;}
[data-dist=d2] {background-color: #ee0000;}
[data-dist=d3] {background-color: #dd0000;}
[data-dist=d4] {background-color: #cc0000;}
[data-dist=d5] {background-color: #bb0000;}
[data-dist=d6] {background-color: #aa0000;}
[data-dist=d7] {background-color: #990000;}
[data-dist=d8] {background-color: #880000;}
[data-dist=d9] {background-color: #770000;}
[data-dist=d10] {background-color: #660000;}
[data-dist=d11] {background-color: #550000;}
[data-dist=d12] {background-color: #440000;}
[data-dist=d13] {background-color: #330000;}
[data-dist=d14] {background-color: #220000;}
[data-dist=d15] {background-color: #110000;}
[data-dist=d16] {background-color: #000000;}
[data-dist=d17] {background-color: #000000;}
[data-dist=d18] {background-color: #000000;}
[data-dist=d19] {background-color: #000000;}

.snake {
    background-color: lightcoral;
    width: 30px;
    height:30px;
}

.snake.head {
    background-color: darkred;
}

.my.snake {
    background-color: lightgreen;
}

.my.snake.head {
    background-color: darkgreen;
}

